EscapeRoom Software/Node-red flows/escape software node-red v0.5.json
[{"id":"c469d720.7f26b8","type":"tab","label":"Timer","disabled":false,"info":"# Basic flow"},{"id":"f16fcff6.9b08a","type":"tab","label":"Hints System","disabled":false,"info":""},{"id":"4e18a05a.11b16","type":"tab","label":"Audio management","disabled":false,"info":""},{"id":"86a32ff1.bb6bf","type":"tab","label":"UI","disabled":false,"info":""},{"id":"436604b.1c168fc","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"98df3b93.fc3fd8","type":"tab","label":"E-mail sender","disabled":false,"info":""},{"id":"ef89cc02.48cda","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5dab1eb0.17918","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"4a47a5e9.04950c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"da3de923.65e4a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"270a54ea.721e2c","type":"ui_group","z":"","name":"Hints bar","tab":"da3de923.65e4a8","order":2,"disp":true,"width":"8","collapse":false},{"id":"f3e38bd5.13b658","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fdeace15.953a1","type":"ui_group","z":"","name":"Timer","tab":"9c9cbc39.d8303","disp":true,"width":"8","collapse":false},{"id":"9c9cbc39.d8303","type":"ui_tab","z":"","name":"Room","icon":"dashboard","disabled":false,"hidden":false},{"id":"caa82cbf.e8bb5","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3e09d2a0.231afe","type":"ui_group","z":"","name":"Extra","tab":"da3de923.65e4a8","order":3,"disp":true,"width":"8","collapse":false},{"id":"9811f55a.86eaf8","type":"ui_group","z":"","name":"Timer","tab":"da3de923.65e4a8","order":1,"disp":true,"width":"8","collapse":false},{"id":"ab709bda.735148","type":"ui_group","z":"","name":"Custom hint","tab":"da3de923.65e4a8","order":4,"disp":true,"width":"8","collapse":false},{"id":"61d29aad.713a84","type":"ui_group","z":"","name":"Hint","tab":"9c9cbc39.d8303","disp":true,"width":"8","collapse":false},{"id":"a6cea24f.3d991","type":"ui_group","z":"","name":"Main","tab":"791c8244.a0ea6c","order":1,"disp":false,"width":"6","collapse":false},{"id":"791c8244.a0ea6c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"dc66af19.7f928","type":"ui_group","z":"","name":"Audio","tab":"da3de923.65e4a8","disp":true,"width":"6","collapse":false},{"id":"52800b6f.61c3e4","type":"inject","z":"c469d720.7f26b8","name":"Setup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":180,"wires":[["9429c5ae.f97b38"]]},{"id":"1f6b97f1.047118","type":"inject","z":"c469d720.7f26b8","name":"Loop","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":260,"wires":[["51b34890.566868"]]},{"id":"9429c5ae.f97b38","type":"change","z":"c469d720.7f26b8","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"STOPPED","tot":"str"},{"t":"set","p":"timeRemaining","pt":"global","to":"3600000","tot":"num"},{"t":"set","p":"currentTime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":180,"wires":[[]]},{"id":"51b34890.566868","type":"function","z":"c469d720.7f26b8","name":"Update time","func":"\nvar currentTime = msg.payload;\nvar lastTickTime = currentTime;\nif(global.get(\"lastTickTime\")) {\n    lastTickTime = global.get(\"lastTickTime\");\n}\nvar timeRemaining = global.get(\"timeRemaining\") || 0;\nvar gameState = global.get(\"gameState\");\n\nif(gameState == \"STARTED\") {\n    timeRemaining -= (currentTime - lastTickTime);\n    global.set(\"timeRemaining\", timeRemaining);\n}\n\nmsg.timeRemaining = timeRemaining;\nglobal.set(\"lastTickTime\", currentTime);\n\nnode.status({fill:\"green\", shape:\"dot\", text:timeRemaining});\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["43f8ffd6.e4d48"]]},{"id":"983e7b3d.17f108","type":"inject","z":"c469d720.7f26b8","name":"Play","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":460,"wires":[["bb07dcf0.4e43f"]]},{"id":"a266a8ec.b1aa78","type":"inject","z":"c469d720.7f26b8","name":"Stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":560,"wires":[["f978d5fd.3aa608"]]},{"id":"bb07dcf0.4e43f","type":"change","z":"c469d720.7f26b8","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"STARTED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":440,"wires":[[]]},{"id":"f978d5fd.3aa608","type":"change","z":"c469d720.7f26b8","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"STOPPED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":540,"wires":[[]]},{"id":"666abbdd.ba3c74","type":"inject","z":"c469d720.7f26b8","name":"Reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":660,"wires":[["48792ed3.87d7f"]]},{"id":"48792ed3.87d7f","type":"change","z":"c469d720.7f26b8","name":"","rules":[{"t":"set","p":"timeRemaining","pt":"global","to":"3600000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":640,"wires":[[]]},{"id":"cb5e9e30.e030b","type":"ui_text","z":"c469d720.7f26b8","group":"9811f55a.86eaf8","order":0,"width":"0","height":"0","name":"Time Remaining (Master)","label":"Time Remaining","format":"{{msg.formattedTimeRemaining}}","layout":"row-spread","x":930,"y":180,"wires":[]},{"id":"3b4cb580.d230fa","type":"ui_button","z":"c469d720.7f26b8","name":"","group":"9811f55a.86eaf8","order":1,"width":"0","height":"0","passthru":false,"label":"Play","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":170,"y":420,"wires":[["bb07dcf0.4e43f"]]},{"id":"254c4bc5.3cb994","type":"ui_button","z":"c469d720.7f26b8","name":"","group":"9811f55a.86eaf8","order":2,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":520,"wires":[["f978d5fd.3aa608"]]},{"id":"b89516d3.148298","type":"ui_button","z":"c469d720.7f26b8","name":"","group":"9811f55a.86eaf8","order":3,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":170,"y":620,"wires":[["48792ed3.87d7f"]]},{"id":"43f8ffd6.e4d48","type":"function","z":"c469d720.7f26b8","name":"Format time","func":"var t = msg.timeRemaining / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t%3600 / 60);\nvar s = Math.floor(t%3600 % 60);\n\nmsg.formattedTimeRemaining = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":260,"wires":[["cb5e9e30.e030b","2bfd312.9b5a3ce","c446642a.befbd8"]]},{"id":"2bfd312.9b5a3ce","type":"ui_text","z":"c469d720.7f26b8","group":"fdeace15.953a1","order":0,"width":0,"height":0,"name":"Time Remaining (Room)","label":"Time Remaining","format":"{{msg.formattedTimeRemaining}}","layout":"row-spread","x":930,"y":240,"wires":[]},{"id":"338f7ac7.a0b836","type":"inject","z":"98df3b93.fc3fd8","name":"Daily injection","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":140,"wires":[["a2ce5dc.978eaa"]]},{"id":"a2ce5dc.978eaa","type":"function","z":"98df3b93.fc3fd8","name":"Set message content","func":"var days = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"]\nmsg.day = new Date().getDay();\nmsg.topic = \"Daily report\";\nmsg.payload = \"Report for \" + days[msg.day];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["ecc38fbf.32c5e"]]},{"id":"ecc38fbf.32c5e","type":"switch","z":"98df3b93.fc3fd8","name":"Filter by day","property":"day","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"5","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":140,"wires":[["3467851f.35837a"],["f03db961.9b4118"]]},{"id":"4a47a5e9.04950c","type":"e-mail","z":"5dab1eb0.17918","server":"smtp.mail.yahoo.com","port":"465","secure":true,"tls":true,"name":"","dname":"Robert","x":190,"y":80,"wires":[]},{"id":"3467851f.35837a","type":"change","z":"98df3b93.fc3fd8","name":"Add work email as recepient","rules":[{"t":"set","p":"to","pt":"msg","to":"robert_draganoiu@yahoo.com","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":100,"wires":[["da940cb7.c72cd","738192f8.3dd3cc"]]},{"id":"f03db961.9b4118","type":"change","z":"98df3b93.fc3fd8","name":"Add personal email as recepient","rules":[{"t":"set","p":"to","pt":"msg","to":"rdraganoiu@yahoo.com","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":200,"wires":[["738192f8.3dd3cc"]]},{"id":"da940cb7.c72cd","type":"debug","z":"98df3b93.fc3fd8","name":"See message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":60,"wires":[]},{"id":"738192f8.3dd3cc","type":"e-mail","z":"98df3b93.fc3fd8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Mail from main","x":1210,"y":160,"wires":[]},{"id":"a946b3a.cf0065","type":"mosca in","z":"436604b.1c168fc","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"admin","password":"admin","dburl":"","x":180,"y":120,"wires":[["639e1ba0.686384"]]},{"id":"58e017d0.483e68","type":"mqtt out","z":"436604b.1c168fc","name":"","topic":"anything","qos":"2","retain":"","broker":"caa82cbf.e8bb5","x":410,"y":280,"wires":[]},{"id":"7867ef53.28304","type":"inject","z":"436604b.1c168fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":280,"wires":[["58e017d0.483e68"]]},{"id":"639e1ba0.686384","type":"debug","z":"436604b.1c168fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":120,"wires":[]},{"id":"48ff724b.5258fc","type":"ui_switch","z":"436604b.1c168fc","name":"","label":"Lights","tooltip":"","group":"3e09d2a0.231afe","order":0,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":460,"wires":[["981e299f.c976f8"]]},{"id":"24b1f3e7.e1040c","type":"debug","z":"436604b.1c168fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":700,"y":400,"wires":[]},{"id":"981e299f.c976f8","type":"function","z":"436604b.1c168fc","name":"Set Topic","func":"if(msg.payload) {\n    msg.topic = \"lights/on\";\n} else {\n    msg.topic = \"lights/off\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":460,"wires":[["24b1f3e7.e1040c","cb3850e9.faad6"]]},{"id":"cb3850e9.faad6","type":"mqtt out","z":"436604b.1c168fc","name":"","topic":"","qos":"","retain":"","broker":"caa82cbf.e8bb5","x":830,"y":460,"wires":[]},{"id":"9b83f4ac.5e1238","type":"ui_dropdown","z":"f16fcff6.9b08a","name":"Hints bar","label":"","tooltip":"","place":"Select option","group":"270a54ea.721e2c","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":900,"y":280,"wires":[["dc3be577.7f8b28"]]},{"id":"ab7437c5.50faa8","type":"inject","z":"f16fcff6.9b08a","name":"Trigger when starting","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":320,"wires":[["17110b1b.7c9495","f4183d0c.07d35"]]},{"id":"b368a385.c7acc","type":"ui_text_input","z":"f16fcff6.9b08a","name":"Custom hint text box","label":"","tooltip":"Enter message for players","group":"270a54ea.721e2c","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":400,"y":560,"wires":[["dc3be577.7f8b28"]]},{"id":"5118d1e1.ee785","type":"comment","z":"f16fcff6.9b08a","name":"Predefined hints injection","info":"","x":410,"y":200,"wires":[]},{"id":"31cb60e4.5328c","type":"comment","z":"f16fcff6.9b08a","name":"Custom hint","info":"","x":370,"y":480,"wires":[]},{"id":"973b0bf0.f71b18","type":"ui_text","z":"f16fcff6.9b08a","group":"61d29aad.713a84","order":0,"width":0,"height":0,"name":"Hint (Room)","label":"","format":"{{msg.hint}}","layout":"col-center","x":1290,"y":360,"wires":[]},{"id":"f4183d0c.07d35","type":"change","z":"f16fcff6.9b08a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":360,"wires":[["dc3be577.7f8b28"]]},{"id":"511cdb11.586c84","type":"ui_button","z":"f16fcff6.9b08a","name":"","group":"270a54ea.721e2c","order":5,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":350,"y":420,"wires":[["f4183d0c.07d35"]]},{"id":"f0c04fa.3e34fb","type":"ui_text","z":"f16fcff6.9b08a","group":"270a54ea.721e2c","order":1,"width":0,"height":0,"name":"Predef hint label","label":"Send predefined hint:","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":240,"wires":[]},{"id":"a28dc6ba.742ba8","type":"ui_text","z":"f16fcff6.9b08a","group":"270a54ea.721e2c","order":3,"width":0,"height":0,"name":"Custom hint label","label":"Send custom hint:","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":520,"wires":[]},{"id":"71353643.44e648","type":"comment","z":"f16fcff6.9b08a","name":"Clear hint","info":"","x":360,"y":380,"wires":[]},{"id":"89d7dc10.074dc","type":"mqtt in","z":"436604b.1c168fc","name":"","topic":"anything","qos":"2","datatype":"auto","broker":"caa82cbf.e8bb5","x":170,"y":200,"wires":[["7bfdbced.7f4d84"]]},{"id":"7bfdbced.7f4d84","type":"debug","z":"436604b.1c168fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":200,"wires":[]},{"id":"e7c59070.47f98","type":"comment","z":"ef89cc02.48cda","name":"Convert ms into hh:mm:ss","info":"","x":690,"y":240,"wires":[]},{"id":"7e092bc2.22e414","type":"comment","z":"ef89cc02.48cda","name":"Calculate time elapsed (or time remaining)","info":"","x":380,"y":240,"wires":[],"icon":"node-red/parser-html.svg"},{"id":"67024c4.f73b5b4","type":"inject","z":"ef89cc02.48cda","name":"Every 1 sec","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":110,"y":280,"wires":[["f68731d7.a3c92"]]},{"id":"a80a4370.52f86","type":"inject","z":"ef89cc02.48cda","name":"","topic":"","payload":"Here's a clue!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":480,"wires":[["b1e65304.709a","41d29e3.a141c6"]]},{"id":"ec18c284.d9cbb","type":"comment","z":"ef89cc02.48cda","name":"Trigger","info":"","x":130,"y":240,"wires":[],"icon":"node-red/parser-html.svg"},{"id":"19573ebb.71e381","type":"ui_audio","z":"ef89cc02.48cda","name":"","group":"a6cea24f.3d991","voice":"","always":true,"x":680,"y":580,"wires":[]},{"id":"41d29e3.a141c6","type":"file in","z":"ef89cc02.48cda","name":"","filename":"C:\\Users\\alast\\Music\\sfx\\musicbox.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":428,"y":580,"wires":[["19573ebb.71e381"]]},{"id":"f68731d7.a3c92","type":"function","z":"ef89cc02.48cda","name":"Update Game Timer","func":"// The current timestamp is injected at the start of the flow\nvar currentTime = msg.payload;\n\n// If this is the first time the flow has run, set the start time\nif(flow.get(\"startTime\") === undefined) {\n    flow.set(\"startTime\", currentTime);\n}\nvar startTime = flow.get(\"startTime\");\n\n// Calculate the time elapsed since the flow started\nvar elapsedTime = (currentTime - startTime);\n\n// Update the msg to carry time elapsed      \nmsg.time = elapsedTime;\n// Or, time remaining\nmsg.time = 3600000 - elapsedTime;\n\n// Display value in the editor\nnode.status({fill:\"green\",shape:\"dot\",text:elapsedTime});\n\n// Pass value along the flow\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["53999142.b4467"]]},{"id":"53999142.b4467","type":"function","z":"ef89cc02.48cda","name":"Format Time As HH:MM:SS","func":"// msg.time is in milliseconds\nvar t = msg.time / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\n// Format into hh:mm:ss\nmsg.timerText = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\n// Update the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:msg.timerText});\n\n// Forward the message along the flow\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":280,"wires":[["eff7d308.2567d"]]},{"id":"606e9b8b.806464","type":"comment","z":"ef89cc02.48cda","name":"Display on ui builder page","info":"","x":1230,"y":340,"wires":[]},{"id":"b1e65304.709a","type":"trigger","z":"ef89cc02.48cda","op1":"","op2":" ","op1type":"pay","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":390,"y":480,"wires":[["da1b1a17.4d59c8"]]},{"id":"da1b1a17.4d59c8","type":"change","z":"ef89cc02.48cda","name":"","rules":[{"t":"set","p":"clueText","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":480,"wires":[["eff7d308.2567d"]]},{"id":"eff7d308.2567d","type":"join","z":"ef89cc02.48cda","name":"","mode":"custom","build":"merged","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":990,"y":380,"wires":[[]]},{"id":"698a08b9.642cc8","type":"comment","z":"ef89cc02.48cda","name":"How long to display clue before clearing","info":"","x":410,"y":440,"wires":[]},{"id":"95af8828.0e71d8","type":"comment","z":"ef89cc02.48cda","name":"Combine time + clue","info":"","x":990,"y":340,"wires":[]},{"id":"d959ee4b.1ec7d","type":"comment","z":"ef89cc02.48cda","name":"Set clue text","info":"","x":110,"y":440,"wires":[],"icon":"node-red/parser-html.svg"},{"id":"95ea35b2.a300e8","type":"comment","z":"ef89cc02.48cda","name":"Set msg variable","info":"","x":700,"y":440,"wires":[]},{"id":"e5297f53.4fdc2","type":"comment","z":"ef89cc02.48cda","name":"Select SFX to play when clue displayed","info":"","x":430,"y":540,"wires":[]},{"id":"44634469.fc0a5c","type":"comment","z":"ef89cc02.48cda","name":"Send to audio output","info":"","x":720,"y":540,"wires":[]},{"id":"c446642a.befbd8","type":"link out","z":"c469d720.7f26b8","name":"timer link out","links":["5e5ee8ac.4471e8"],"x":835,"y":320,"wires":[]},{"id":"b1109106.055ab","type":"comment","z":"c469d720.7f26b8","name":"Go to UI","info":"","x":880,"y":280,"wires":[]},{"id":"5e5ee8ac.4471e8","type":"link in","z":"86a32ff1.bb6bf","name":"timer link in","links":["c446642a.befbd8"],"x":295,"y":240,"wires":[["9a80a16.4089d6"]]},{"id":"fe619bb.a313568","type":"link in","z":"86a32ff1.bb6bf","name":"hints link in","links":["9de0b50d.849788"],"x":295,"y":320,"wires":[["9a80a16.4089d6"]]},{"id":"9de0b50d.849788","type":"link out","z":"f16fcff6.9b08a","name":"hints link out","links":["fe619bb.a313568","47ad7f04.d099f"],"x":1235,"y":460,"wires":[]},{"id":"dc3be577.7f8b28","type":"change","z":"f16fcff6.9b08a","name":"","rules":[{"t":"set","p":"hint","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":380,"wires":[["9de0b50d.849788","973b0bf0.f71b18"]]},{"id":"d0885a9c.c4e6d8","type":"comment","z":"86a32ff1.bb6bf","name":"Timer link","info":"","x":260,"y":200,"wires":[]},{"id":"7c271bbc.573f54","type":"comment","z":"86a32ff1.bb6bf","name":"Hints link","info":"","x":260,"y":280,"wires":[]},{"id":"9a80a16.4089d6","type":"join","z":"86a32ff1.bb6bf","name":"","mode":"custom","build":"merged","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":260,"wires":[["ea17c254.28f2a"]]},{"id":"6277e84d.d802b8","type":"comment","z":"f16fcff6.9b08a","name":"Go to UI","info":"","x":1280,"y":420,"wires":[]},{"id":"468ec985.c196c8","type":"file in","z":"4e18a05a.11b16","name":"Hint ding sfx","filename":"D:\\_Node-red\\EscapeRoom Software\\SFX\\hint_ding.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":590,"y":260,"wires":[["d6f6f510.74edd8"]]},{"id":"17110b1b.7c9495","type":"file in","z":"f16fcff6.9b08a","name":"Local hints file","filename":"D:\\_Node-red\\EscapeRoom Software\\Clues\\clues.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":380,"y":280,"wires":[["66e39e70.3bfc5"]]},{"id":"66e39e70.3bfc5","type":"join","z":"f16fcff6.9b08a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":280,"wires":[["f7160d41.dc981"]]},{"id":"f7160d41.dc981","type":"change","z":"f16fcff6.9b08a","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":280,"wires":[["9b83f4ac.5e1238"]]},{"id":"7b5d804b.a22de","type":"comment","z":"c469d720.7f26b8","name":"Command buttons","info":"","x":170,"y":380,"wires":[]},{"id":"37bf9618.a36f4a","type":"comment","z":"c469d720.7f26b8","name":"Rooms displays","info":"","x":900,"y":140,"wires":[]},{"id":"ea17c254.28f2a","type":"uibuilder","z":"86a32ff1.bb6bf","name":"","topic":"","url":"my_room_display","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":770,"y":260,"wires":[[],[]]},{"id":"eee77674.5724a8","type":"comment","z":"86a32ff1.bb6bf","name":"Create UI ","info":"The ui builder node is used to create a webpage that displays the chosen video, styled using CSS to fill the page. You can access the page at [/video_display](/video_display).\n\n## Configuration\nUpdate the files:\n\n* `index.html`\n* `index.js`\n* `index.css`\n\nWith content described at https://github.com/playfultechnology/node-redscape/wiki/Creating-a-full-screen-in-game-display","x":660,"y":600,"wires":[]},{"id":"a6cd11fa.e50f9","type":"comment","z":"86a32ff1.bb6bf","name":"Set video to play","info":"Set the address of the source video. This can either be served from a website (e.g. http(s)://), or from a relative URL on the local Node-RED instance (in which case, static HTTP must be allowed in the settings.js file)","x":431,"y":560,"wires":[],"icon":"node-red/parser-html.svg"},{"id":"e4d7655a.157668","type":"uibuilder","z":"86a32ff1.bb6bf","name":"Video Display triggered by source payload","topic":"","url":"video_display","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":720,"y":640,"wires":[[],[]]},{"id":"6f98945b.95eafc","type":"inject","z":"86a32ff1.bb6bf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":249,"y":604,"wires":[["da0faea2.a6248"]]},{"id":"da0faea2.a6248","type":"change","z":"86a32ff1.bb6bf","name":"","rules":[{"t":"set","p":"videoSrc","pt":"msg","to":"http://iandevlin.github.io/mdn/video-player/video/tears-of-steel-battle-clip-medium.mp4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":439,"y":604,"wires":[["e4d7655a.157668","9a80a16.4089d6"]]},{"id":"233bcf2e.36228","type":"change","z":"86a32ff1.bb6bf","name":"","rules":[{"t":"set","p":"videoSrc","pt":"msg","to":"/roomdisplay_bg.mp4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":439,"y":684,"wires":[["e4d7655a.157668"]]},{"id":"bc99968b.9e7d88","type":"inject","z":"86a32ff1.bb6bf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":249,"y":684,"wires":[["233bcf2e.36228"]]},{"id":"8136963d.a7ca28","type":"comment","z":"86a32ff1.bb6bf","name":"Trigger","info":"","x":237,"y":560,"wires":[],"icon":"node-red/parser-html.svg"},{"id":"47ad7f04.d099f","type":"link in","z":"4e18a05a.11b16","name":"","links":["9de0b50d.849788"],"x":115,"y":260,"wires":[["46771fb0.362e7"]]},{"id":"d6f6f510.74edd8","type":"ui_audio","z":"4e18a05a.11b16","name":"","group":"dc66af19.7f928","voice":"","always":"","x":780,"y":260,"wires":[]},{"id":"962978cc.d1fc18","type":"switch","z":"4e18a05a.11b16","name":"","property":"hint","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"30","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":260,"wires":[["468ec985.c196c8"]]},{"id":"46771fb0.362e7","type":"change","z":"4e18a05a.11b16","name":"","rules":[{"t":"set","p":"hint","pt":"msg","to":"$length(msg.hint)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":260,"wires":[["962978cc.d1fc18"]]},{"id":"9f641b9a.ac1868","type":"comment","z":"4e18a05a.11b16","name":"Hint sound effect","info":"","x":180,"y":220,"wires":[]}]