EscapeRoom Software/Backups/escape_room_software1.0.json
[{"id":"c469d720.7f26b8","type":"tab","label":"Timer","disabled":false,"info":"# Basic flow"},{"id":"f16fcff6.9b08a","type":"tab","label":"Hints System","disabled":false,"info":""},{"id":"4e18a05a.11b16","type":"tab","label":"Audio management","disabled":false,"info":""},{"id":"11f2569e.a6ea39","type":"tab","label":"Puzzle management","disabled":false,"info":""},{"id":"86a32ff1.bb6bf","type":"tab","label":"Room UI","disabled":false,"info":""},{"id":"436604b.1c168fc","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"98df3b93.fc3fd8","type":"tab","label":"E-mail sender + extra mqtt","disabled":false,"info":""},{"id":"5dab1eb0.17918","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"4a47a5e9.04950c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"da3de923.65e4a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"270a54ea.721e2c","type":"ui_group","z":"","name":"Hints bar","tab":"da3de923.65e4a8","order":2,"disp":true,"width":"8","collapse":false},{"id":"f3e38bd5.13b658","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#7e0318","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#06bd0b","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Escape Room Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fdeace15.953a1","type":"ui_group","z":"","name":"Timer","tab":"9c9cbc39.d8303","disp":true,"width":"8","collapse":false},{"id":"9c9cbc39.d8303","type":"ui_tab","z":"","name":"Room","icon":"dashboard","disabled":false,"hidden":false},{"id":"caa82cbf.e8bb5","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3e09d2a0.231afe","type":"ui_group","z":"","name":"Extra","tab":"da3de923.65e4a8","order":3,"disp":true,"width":"8","collapse":false},{"id":"9811f55a.86eaf8","type":"ui_group","z":"","name":"Timer","tab":"da3de923.65e4a8","order":1,"disp":true,"width":"8","collapse":false},{"id":"ab709bda.735148","type":"ui_group","z":"","name":"Custom hint","tab":"da3de923.65e4a8","order":4,"disp":true,"width":"8","collapse":false},{"id":"61d29aad.713a84","type":"ui_group","z":"","name":"Hint","tab":"9c9cbc39.d8303","disp":true,"width":"8","collapse":false},{"id":"a6cea24f.3d991","type":"ui_group","z":"","name":"Main","tab":"791c8244.a0ea6c","order":1,"disp":false,"width":"6","collapse":false},{"id":"791c8244.a0ea6c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"dc66af19.7f928","type":"ui_group","z":"","name":"Audio","tab":"da3de923.65e4a8","disp":true,"width":"8","collapse":false},{"id":"1d75d63b.cc426a","type":"ui_group","z":"","name":"Default","tab":"9663f95.5f7c208","order":1,"disp":true,"width":"6"},{"id":"9663f95.5f7c208","type":"ui_tab","z":"","name":"Home","icon":"home","order":1},{"id":"23c4bf6e.704c1","type":"ui_group","z":"","name":"Audio","tab":"ad2b2455.e90cb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a424c316.f1a23","type":"ui_group","z":"","name":"Game Status","tab":"89b0404.2134cc","order":1,"disp":false,"width":"6","collapse":false},{"id":"ad2b2455.e90cb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"89b0404.2134cc","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"69644851.5562d8","type":"ui_group","z":"","name":"Audio","tab":"9c9cbc39.d8303","disp":true,"width":"6","collapse":false},{"id":"d378e622.a54a28","type":"serial-port","z":"","serialport":"COM9","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"20bb1437.2e598c","type":"ui_group","z":"","name":"Puzzles","tab":"da3de923.65e4a8","disp":true,"width":"8","collapse":false},{"id":"29bb4595.00e87a","type":"arduino-connection","z":"","applicationname":""},{"id":"4d4f99f4.20d8c8","type":"arduino-board","z":"","device":"COM8"},{"id":"4d3d00d.daf85","type":"arduino-board","device":""},{"id":"fad01bc6.bd0c38","type":"ui_tab","z":"","name":"Extra","icon":"dashboard","disabled":false,"hidden":false},{"id":"516bb5.cbbe944c","type":"ui_group","z":"","name":"Extra","tab":"fad01bc6.bd0c38","disp":true,"width":"6","collapse":false},{"id":"dfabe0cb.c1a29","type":"ui_group","z":"","name":"Door","tab":"da3de923.65e4a8","disp":true,"width":"8","collapse":false},{"id":"52800b6f.61c3e4","type":"inject","z":"c469d720.7f26b8","name":"Setup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":180,"wires":[["9429c5ae.f97b38"]]},{"id":"1f6b97f1.047118","type":"inject","z":"c469d720.7f26b8","name":"Loop","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":260,"wires":[["51b34890.566868","49475388.526d7c"]]},{"id":"9429c5ae.f97b38","type":"change","z":"c469d720.7f26b8","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"STOPPED","tot":"str"},{"t":"set","p":"timeRemaining","pt":"global","to":"3600000","tot":"num"},{"t":"set","p":"currentTime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":180,"wires":[[]]},{"id":"51b34890.566868","type":"function","z":"c469d720.7f26b8","name":"Update time","func":"\nvar currentTime = msg.payload;\nvar lastTickTime = currentTime;\nif(global.get(\"lastTickTime\")) {\n    lastTickTime = global.get(\"lastTickTime\");\n}\nvar timeRemaining = global.get(\"timeRemaining\") || 0;\nvar gameState = global.get(\"gameState\");\n\nif(gameState == \"STARTED\") {\n    timeRemaining -= (currentTime - lastTickTime);\n    global.set(\"timeRemaining\", timeRemaining);\n}\n\nmsg.timeRemaining = timeRemaining;\nglobal.set(\"lastTickTime\", currentTime);\n\nnode.status({fill:\"green\", shape:\"dot\", text:timeRemaining});\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["43f8ffd6.e4d48"]]},{"id":"983e7b3d.17f108","type":"inject","z":"c469d720.7f26b8","name":"Play","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":460,"wires":[["bb07dcf0.4e43f"]]},{"id":"a266a8ec.b1aa78","type":"inject","z":"c469d720.7f26b8","name":"Stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":560,"wires":[["f978d5fd.3aa608"]]},{"id":"bb07dcf0.4e43f","type":"change","z":"c469d720.7f26b8","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"STARTED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":440,"wires":[["2447b4a5.09698c"]]},{"id":"f978d5fd.3aa608","type":"change","z":"c469d720.7f26b8","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"STOPPED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":540,"wires":[[]]},{"id":"666abbdd.ba3c74","type":"inject","z":"c469d720.7f26b8","name":"Reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":660,"wires":[["48792ed3.87d7f"]]},{"id":"48792ed3.87d7f","type":"change","z":"c469d720.7f26b8","name":"","rules":[{"t":"set","p":"timeRemaining","pt":"global","to":"3600000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":640,"wires":[["eac2b74c.604038"]]},{"id":"cb5e9e30.e030b","type":"ui_text","z":"c469d720.7f26b8","group":"9811f55a.86eaf8","order":0,"width":"8","height":"2","name":"Time Remaining (Master)","label":"Time Remaining","format":"{{msg.formattedTimeRemaining}}","layout":"row-spread","x":930,"y":180,"wires":[]},{"id":"3b4cb580.d230fa","type":"ui_button","z":"c469d720.7f26b8","name":"","group":"9811f55a.86eaf8","order":1,"width":"0","height":"0","passthru":false,"label":"Play","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":170,"y":420,"wires":[["bb07dcf0.4e43f"]]},{"id":"254c4bc5.3cb994","type":"ui_button","z":"c469d720.7f26b8","name":"","group":"9811f55a.86eaf8","order":2,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":520,"wires":[["f978d5fd.3aa608"]]},{"id":"b89516d3.148298","type":"ui_button","z":"c469d720.7f26b8","name":"","group":"9811f55a.86eaf8","order":3,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":170,"y":620,"wires":[["48792ed3.87d7f"]]},{"id":"43f8ffd6.e4d48","type":"function","z":"c469d720.7f26b8","name":"Format time","func":"var t = msg.timeRemaining / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t%3600 / 60);\nvar s = Math.floor(t%3600 % 60);\n\nmsg.formattedTimeRemaining = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":260,"wires":[["cb5e9e30.e030b","2bfd312.9b5a3ce","c446642a.befbd8"]]},{"id":"2bfd312.9b5a3ce","type":"ui_text","z":"c469d720.7f26b8","group":"fdeace15.953a1","order":0,"width":0,"height":0,"name":"Time Remaining (Room)","label":"Time Remaining","format":"{{msg.formattedTimeRemaining}}","layout":"row-spread","x":930,"y":220,"wires":[]},{"id":"338f7ac7.a0b836","type":"inject","z":"98df3b93.fc3fd8","name":"Daily injection","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":140,"wires":[["a2ce5dc.978eaa"]]},{"id":"a2ce5dc.978eaa","type":"function","z":"98df3b93.fc3fd8","name":"Set message content","func":"var days = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"]\nmsg.day = new Date().getDay();\nmsg.topic = \"Daily report\";\nmsg.payload = \"Report for \" + days[msg.day];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["ecc38fbf.32c5e"]]},{"id":"ecc38fbf.32c5e","type":"switch","z":"98df3b93.fc3fd8","name":"Filter by day","property":"day","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"5","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":140,"wires":[["3467851f.35837a"],["f03db961.9b4118"]]},{"id":"4a47a5e9.04950c","type":"e-mail","z":"5dab1eb0.17918","server":"smtp.mail.yahoo.com","port":"465","secure":true,"tls":true,"name":"","dname":"Robert","x":190,"y":80,"wires":[]},{"id":"3467851f.35837a","type":"change","z":"98df3b93.fc3fd8","name":"Add work email as recepient","rules":[{"t":"set","p":"to","pt":"msg","to":"robert_draganoiu@yahoo.com","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":100,"wires":[["da940cb7.c72cd","738192f8.3dd3cc"]]},{"id":"f03db961.9b4118","type":"change","z":"98df3b93.fc3fd8","name":"Add personal email as recepient","rules":[{"t":"set","p":"to","pt":"msg","to":"rdraganoiu@yahoo.com","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":200,"wires":[["738192f8.3dd3cc"]]},{"id":"da940cb7.c72cd","type":"debug","z":"98df3b93.fc3fd8","name":"See message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":60,"wires":[]},{"id":"738192f8.3dd3cc","type":"e-mail","z":"98df3b93.fc3fd8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Mail from main","x":1210,"y":160,"wires":[]},{"id":"a946b3a.cf0065","type":"mosca in","z":"436604b.1c168fc","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"admin","password":"admin","dburl":"","x":130,"y":220,"wires":[["639e1ba0.686384"]]},{"id":"639e1ba0.686384","type":"debug","z":"436604b.1c168fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":220,"wires":[]},{"id":"9b83f4ac.5e1238","type":"ui_dropdown","z":"f16fcff6.9b08a","name":"Hints bar","label":"","tooltip":"","place":"Select option","group":"270a54ea.721e2c","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":900,"y":280,"wires":[["dc3be577.7f8b28"]]},{"id":"ab7437c5.50faa8","type":"inject","z":"f16fcff6.9b08a","name":"Trigger when starting","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":320,"wires":[["17110b1b.7c9495","f4183d0c.07d35"]]},{"id":"b368a385.c7acc","type":"ui_text_input","z":"f16fcff6.9b08a","name":"Custom hint text box","label":"","tooltip":"Enter message for players","group":"270a54ea.721e2c","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":400,"y":560,"wires":[["dc3be577.7f8b28"]]},{"id":"5118d1e1.ee785","type":"comment","z":"f16fcff6.9b08a","name":"Predefined hints injection","info":"","x":410,"y":200,"wires":[]},{"id":"31cb60e4.5328c","type":"comment","z":"f16fcff6.9b08a","name":"Custom hint","info":"","x":370,"y":480,"wires":[]},{"id":"973b0bf0.f71b18","type":"ui_text","z":"f16fcff6.9b08a","group":"61d29aad.713a84","order":0,"width":0,"height":0,"name":"Hint (Room)","label":"","format":"{{msg.hint}}","layout":"col-center","x":1290,"y":360,"wires":[]},{"id":"f4183d0c.07d35","type":"change","z":"f16fcff6.9b08a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":360,"wires":[["dc3be577.7f8b28"]]},{"id":"511cdb11.586c84","type":"ui_button","z":"f16fcff6.9b08a","name":"","group":"270a54ea.721e2c","order":5,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":350,"y":420,"wires":[["f4183d0c.07d35"]]},{"id":"f0c04fa.3e34fb","type":"ui_text","z":"f16fcff6.9b08a","group":"270a54ea.721e2c","order":1,"width":0,"height":0,"name":"Predef hint label","label":"Send predefined hint:","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":240,"wires":[]},{"id":"a28dc6ba.742ba8","type":"ui_text","z":"f16fcff6.9b08a","group":"270a54ea.721e2c","order":3,"width":0,"height":0,"name":"Custom hint label","label":"Send custom hint:","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":520,"wires":[]},{"id":"71353643.44e648","type":"comment","z":"f16fcff6.9b08a","name":"Clear hint","info":"","x":360,"y":380,"wires":[]},{"id":"c446642a.befbd8","type":"link out","z":"c469d720.7f26b8","name":"timer link out","links":["5e5ee8ac.4471e8","1a36f0e7.a8ac2f"],"x":835,"y":320,"wires":[]},{"id":"b1109106.055ab","type":"comment","z":"c469d720.7f26b8","name":"Go to UI","info":"","x":880,"y":280,"wires":[]},{"id":"5e5ee8ac.4471e8","type":"link in","z":"86a32ff1.bb6bf","name":"timer link in","links":["c446642a.befbd8"],"x":295,"y":240,"wires":[["9a80a16.4089d6"]]},{"id":"fe619bb.a313568","type":"link in","z":"86a32ff1.bb6bf","name":"hints link in","links":["9de0b50d.849788"],"x":295,"y":320,"wires":[["9a80a16.4089d6"]]},{"id":"9de0b50d.849788","type":"link out","z":"f16fcff6.9b08a","name":"hints link out","links":["fe619bb.a313568","47ad7f04.d099f"],"x":1235,"y":460,"wires":[]},{"id":"dc3be577.7f8b28","type":"change","z":"f16fcff6.9b08a","name":"","rules":[{"t":"set","p":"hint","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":380,"wires":[["9de0b50d.849788","973b0bf0.f71b18"]]},{"id":"d0885a9c.c4e6d8","type":"comment","z":"86a32ff1.bb6bf","name":"Timer link","info":"","x":260,"y":200,"wires":[]},{"id":"7c271bbc.573f54","type":"comment","z":"86a32ff1.bb6bf","name":"Hints link","info":"","x":260,"y":280,"wires":[]},{"id":"9a80a16.4089d6","type":"join","z":"86a32ff1.bb6bf","name":"","mode":"custom","build":"merged","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":260,"wires":[["ea17c254.28f2a"]]},{"id":"6277e84d.d802b8","type":"comment","z":"f16fcff6.9b08a","name":"Go to UI","info":"","x":1280,"y":420,"wires":[]},{"id":"17110b1b.7c9495","type":"file in","z":"f16fcff6.9b08a","name":"Local hints file","filename":"D:\\_Node-red\\EscapeRoom Software\\Clues\\clues.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":380,"y":280,"wires":[["66e39e70.3bfc5"]]},{"id":"66e39e70.3bfc5","type":"join","z":"f16fcff6.9b08a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":280,"wires":[["f7160d41.dc981"]]},{"id":"f7160d41.dc981","type":"change","z":"f16fcff6.9b08a","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":280,"wires":[["9b83f4ac.5e1238"]]},{"id":"7b5d804b.a22de","type":"comment","z":"c469d720.7f26b8","name":"Command buttons","info":"","x":170,"y":380,"wires":[]},{"id":"37bf9618.a36f4a","type":"comment","z":"c469d720.7f26b8","name":"Rooms displays","info":"","x":900,"y":140,"wires":[]},{"id":"ea17c254.28f2a","type":"uibuilder","z":"86a32ff1.bb6bf","name":"","topic":"","url":"my_room_display","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":730,"y":260,"wires":[[],[]]},{"id":"47ad7f04.d099f","type":"link in","z":"4e18a05a.11b16","name":"timer link to audio","links":["9de0b50d.849788"],"x":95,"y":320,"wires":[["46771fb0.362e7"]]},{"id":"d6f6f510.74edd8","type":"ui_audio","z":"4e18a05a.11b16","name":"SFX out","group":"dc66af19.7f928","voice":"","always":"","x":1220,"y":260,"wires":[]},{"id":"962978cc.d1fc18","type":"switch","z":"4e18a05a.11b16","name":"","property":"hint","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":320,"wires":[["dbdad68a.3ff468"]]},{"id":"46771fb0.362e7","type":"change","z":"4e18a05a.11b16","name":"","rules":[{"t":"set","p":"hint","pt":"msg","to":"$length(msg.hint)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":320,"wires":[["962978cc.d1fc18"]]},{"id":"9f641b9a.ac1868","type":"comment","z":"4e18a05a.11b16","name":"Hint delivered","info":"","x":150,"y":280,"wires":[]},{"id":"2447b4a5.09698c","type":"link out","z":"c469d720.7f26b8","name":"start timer","links":["8a24596d.352b38"],"x":555,"y":440,"wires":[]},{"id":"eac2b74c.604038","type":"link out","z":"c469d720.7f26b8","name":"reset timer","links":["10b51837.ecd068"],"x":555,"y":640,"wires":[]},{"id":"8a24596d.352b38","type":"link in","z":"4e18a05a.11b16","name":"","links":["2447b4a5.09698c"],"x":255,"y":520,"wires":[["5c4cb31f.765d6c"]]},{"id":"10b51837.ecd068","type":"link in","z":"4e18a05a.11b16","name":"","links":["eac2b74c.604038"],"x":855,"y":620,"wires":[["51e7573e.987538"]]},{"id":"134af948.e9d3c7","type":"comment","z":"4e18a05a.11b16","name":"Timer start","info":"","x":300,"y":480,"wires":[]},{"id":"9196a09a.efa78","type":"comment","z":"4e18a05a.11b16","name":"Timer reset","info":"","x":900,"y":580,"wires":[]},{"id":"51e7573e.987538","type":"change","z":"4e18a05a.11b16","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":560,"wires":[["1c899974.da8637"]]},{"id":"1c899974.da8637","type":"ui_audio","z":"4e18a05a.11b16","name":"Music out","group":"dc66af19.7f928","voice":"","always":"","x":1280,"y":480,"wires":[]},{"id":"ff710eb.9003cf","type":"ui_text","z":"4e18a05a.11b16","group":"dc66af19.7f928","order":1,"width":0,"height":0,"name":"","label":"Play sound effect:","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":200,"wires":[]},{"id":"837a3e67.4efa1","type":"ui_dropdown","z":"4e18a05a.11b16","name":"SFX options","label":"","tooltip":"","place":"Select option","group":"dc66af19.7f928","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Ding","value":"hint_ding.mp3","type":"str"},{"label":"Door screech","value":"door_closing.mp3","type":"str"},{"label":"Fire","value":"fire.mp3","type":"str"},{"label":"Evil laughter","value":"evil_laughter.mp3","type":"str"}],"payload":"","topic":"","x":470,"y":240,"wires":[["aefec1e.fa4424"]]},{"id":"aefec1e.fa4424","type":"function","z":"4e18a05a.11b16","name":"Construct filename","func":"msg.filename = \"D:\\\\_Node-red\\\\EscapeRoom Software\\\\SFX\\\\\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":260,"wires":[["3c97a200.8daf3e"]]},{"id":"3c97a200.8daf3e","type":"file in","z":"4e18a05a.11b16","name":"SFX from local","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1000,"y":260,"wires":[["d6f6f510.74edd8"]]},{"id":"67db1d6a.dfb194","type":"ui_text","z":"4e18a05a.11b16","group":"dc66af19.7f928","order":3,"width":0,"height":0,"name":"","label":"Play music:","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":420,"wires":[]},{"id":"e60bf8ae.f3bc08","type":"ui_dropdown","z":"4e18a05a.11b16","name":"Music options","label":"","tooltip":"","place":"Select option","group":"dc66af19.7f928","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"Dark skies of doom","value":"DarkSkiesOfDoom.mp3","type":"str"},{"label":"Barbie girl","value":"BarbieGirl.mp3","type":"str"},{"label":"Yasuo","value":"SkonxYasuo.mp3","type":"str"}],"payload":"","topic":"","x":480,"y":460,"wires":[["9d923720.c9c2a8"]]},{"id":"dbdad68a.3ff468","type":"change","z":"4e18a05a.11b16","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"hint_ding.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":320,"wires":[["aefec1e.fa4424"]]},{"id":"43b283b.1dd757c","type":"comment","z":"4e18a05a.11b16","name":"Dashboard SFX","info":"","x":480,"y":160,"wires":[]},{"id":"e208dcd5.903c6","type":"ui_button","z":"4e18a05a.11b16","name":"","group":"dc66af19.7f928","order":5,"width":0,"height":0,"passthru":false,"label":"Stop music","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":910,"y":540,"wires":[["51e7573e.987538"]]},{"id":"fddd901b.d68bb","type":"file in","z":"4e18a05a.11b16","name":"Music from local","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":920,"y":480,"wires":[["9febdaba.be4248","51e7573e.987538"]]},{"id":"9d923720.c9c2a8","type":"function","z":"4e18a05a.11b16","name":"Construct filename","func":"msg.filename = \"D:\\\\_Node-red\\\\EscapeRoom Software\\\\Music\\\\\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":480,"wires":[["fddd901b.d68bb"]]},{"id":"5c4cb31f.765d6c","type":"change","z":"4e18a05a.11b16","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"DarkSkiesOfDoom.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":520,"wires":[["9d923720.c9c2a8"]]},{"id":"e623d0e7.31c9e","type":"comment","z":"4e18a05a.11b16","name":"Dashboard music","info":"","x":480,"y":380,"wires":[]},{"id":"9febdaba.be4248","type":"delay","z":"4e18a05a.11b16","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1110,"y":480,"wires":[["1c899974.da8637"]]},{"id":"4d7120f0.ca0a3","type":"ui_text","z":"11f2569e.a6ea39","group":"20bb1437.2e598c","order":0,"width":0,"height":0,"name":"","label":"Buttons Puzzle Status","format":"<font color={{msg.color}}>{{msg.payload}}</font>","layout":"row-spread","x":960,"y":200,"wires":[]},{"id":"a60040a7.9860b","type":"function","z":"11f2569e.a6ea39","name":"Info to text","func":"msg.payload = msg.payload.trim();\nif(msg.payload == \"p1_reset\" || !msg.payload) {\n    msg.payload = \"Not solved\";\n    msg.color = \"red\";\n} else {\n    msg.payload = \"Solved\";\n    msg.color = \"green\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":240,"wires":[["4d7120f0.ca0a3","80fe1d61.34d8d"]]},{"id":"a7c9cffd.83ee9","type":"serial in","z":"11f2569e.a6ea39","name":"Arduino serial out","serial":"d378e622.a54a28","x":220,"y":320,"wires":[["29a70677.e268ca"]]},{"id":"29a70677.e268ca","type":"switch","z":"11f2569e.a6ea39","name":"Separate puzzle info","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"p1","vt":"str"},{"t":"cont","v":"p2","vt":"str"},{"t":"cont","v":"p3","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":450,"y":320,"wires":[["a60040a7.9860b"],["ecb8037c.1d6e3"],["17802395.87a58c"]]},{"id":"ecb8037c.1d6e3","type":"function","z":"11f2569e.a6ea39","name":"Info to text","func":"msg.payload = msg.payload.trim();\nif(msg.payload == \"p2_reset\" || !msg.payload) {\n    msg.payload = \"Not solved\";\n    msg.color = \"red\";\n} else {\n    msg.payload = \"Solved\";\n    msg.color = \"green\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":320,"wires":[["cc3f8280.93fd1","e952f3c3.40bef"]]},{"id":"cc3f8280.93fd1","type":"ui_text","z":"11f2569e.a6ea39","group":"20bb1437.2e598c","order":0,"width":0,"height":0,"name":"","label":"IR Puzzle Status","format":"<font color={{msg.color}}>{{msg.payload}}</font>","layout":"row-spread","x":950,"y":280,"wires":[]},{"id":"17802395.87a58c","type":"function","z":"11f2569e.a6ea39","name":"Info to text","func":"msg.payload = msg.payload.trim();\nif(msg.payload == \"p3_reset\" || !msg.payload) {\n    msg.payload = \"Not solved\";\n    msg.color = \"red\";\n} else {\n    msg.payload = \"Solved\";\n    msg.color = \"green\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":400,"wires":[["1c7973e9.d2853c","89330ff2.da6"]]},{"id":"1c7973e9.d2853c","type":"ui_text","z":"11f2569e.a6ea39","group":"20bb1437.2e598c","order":0,"width":0,"height":0,"name":"","label":"Orientation Puzzle Status","format":"<font color={{msg.color}}>{{msg.payload}}</font>","layout":"row-spread","x":970,"y":360,"wires":[]},{"id":"399cb27e.62121e","type":"inject","z":"11f2569e.a6ea39","name":"","topic":"","payload":"p1_reset","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":140,"wires":[["29a70677.e268ca"]]},{"id":"a55826da.1875c8","type":"inject","z":"11f2569e.a6ea39","name":"","topic":"","payload":"p2_reset","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":180,"wires":[["29a70677.e268ca"]]},{"id":"5e42969d.c32d58","type":"inject","z":"11f2569e.a6ea39","name":"","topic":"","payload":"p3_reset","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":220,"wires":[["29a70677.e268ca"]]},{"id":"80fe1d61.34d8d","type":"change","z":"11f2569e.a6ea39","name":"","rules":[{"t":"set","p":"p1_status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":240,"wires":[["646c839a.8eaafc"]]},{"id":"e952f3c3.40bef","type":"change","z":"11f2569e.a6ea39","name":"","rules":[{"t":"set","p":"p2_status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":320,"wires":[["28423d6b.77cb62"]]},{"id":"89330ff2.da6","type":"change","z":"11f2569e.a6ea39","name":"","rules":[{"t":"set","p":"p3_status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":400,"wires":[["ee06f80e.671368"]]},{"id":"49475388.526d7c","type":"link out","z":"c469d720.7f26b8","name":"loop link out","links":["9a2e00d7.d8a9b"],"x":340,"y":340,"wires":[]},{"id":"9a2e00d7.d8a9b","type":"link in","z":"11f2569e.a6ea39","name":"loop link in","links":["49475388.526d7c"],"x":175,"y":560,"wires":[["85e702b8.4fa66"]]},{"id":"ed4bba95.f4d688","type":"comment","z":"11f2569e.a6ea39","name":"Timer loop","info":"","x":180,"y":520,"wires":[]},{"id":"85e702b8.4fa66","type":"function","z":"11f2569e.a6ea39","name":"Check solved puzzles","func":"if(flow.get(\"p1_status\") == \"Solved\" && flow.get(\"p2_status\") == \"Solved\" && flow.get(\"p3_status\") == \"Solved\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":560,"wires":[["3174af38.0bb14","305d6e84.e40282"]]},{"id":"3174af38.0bb14","type":"debug","z":"11f2569e.a6ea39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":600,"wires":[]},{"id":"646c839a.8eaafc","type":"debug","z":"11f2569e.a6ea39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":240,"wires":[]},{"id":"28423d6b.77cb62","type":"debug","z":"11f2569e.a6ea39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":320,"wires":[]},{"id":"ee06f80e.671368","type":"debug","z":"11f2569e.a6ea39","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":400,"wires":[]},{"id":"4a41a5b6.99e81c","type":"mqtt out","z":"98df3b93.fc3fd8","name":"","topic":"anything","qos":"2","retain":"","broker":"caa82cbf.e8bb5","x":460,"y":440,"wires":[]},{"id":"7188294a.5c7838","type":"inject","z":"98df3b93.fc3fd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":440,"wires":[["4a41a5b6.99e81c"]]},{"id":"d69081da.db913","type":"ui_switch","z":"98df3b93.fc3fd8","name":"","label":"Lights","tooltip":"","group":"516bb5.cbbe944c","order":0,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":380,"y":620,"wires":[["3306b7d8.25cf58"]]},{"id":"e3a3153.375abe8","type":"debug","z":"98df3b93.fc3fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":750,"y":560,"wires":[]},{"id":"3306b7d8.25cf58","type":"function","z":"98df3b93.fc3fd8","name":"Set Topic","func":"if(msg.payload) {\n    msg.topic = \"lights/on\";\n} else {\n    msg.topic = \"lights/off\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":620,"wires":[["e3a3153.375abe8","14a2a79.ec1aa58"]]},{"id":"14a2a79.ec1aa58","type":"mqtt out","z":"98df3b93.fc3fd8","name":"","topic":"","qos":"","retain":"","broker":"caa82cbf.e8bb5","x":820,"y":620,"wires":[]},{"id":"56a67aca.7f5604","type":"mqtt in","z":"98df3b93.fc3fd8","name":"","topic":"anything","qos":"2","datatype":"auto","broker":"caa82cbf.e8bb5","x":220,"y":360,"wires":[["10342c90.a07b83"]]},{"id":"10342c90.a07b83","type":"debug","z":"98df3b93.fc3fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":360,"wires":[]},{"id":"40523d45.f7e214","type":"comment","z":"98df3b93.fc3fd8","name":"Create UI ","info":"The ui builder node is used to create a webpage that displays the chosen video, styled using CSS to fill the page. You can access the page at [/video_display](/video_display).\n\n## Configuration\nUpdate the files:\n\n* `index.html`\n* `index.js`\n* `index.css`\n\nWith content described at https://github.com/playfultechnology/node-redscape/wiki/Creating-a-full-screen-in-game-display","x":1220,"y":360,"wires":[]},{"id":"8a1b4413.dd6e98","type":"comment","z":"98df3b93.fc3fd8","name":"Set video to play","info":"Set the address of the source video. This can either be served from a website (e.g. http(s)://), or from a relative URL on the local Node-RED instance (in which case, static HTTP must be allowed in the settings.js file)","x":991,"y":320,"wires":[],"icon":"node-red/parser-html.svg"},{"id":"c5ee3e1f.88565","type":"uibuilder","z":"98df3b93.fc3fd8","name":"Video Display triggered by source payload","topic":"","url":"video_display","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":1280,"y":400,"wires":[[],[]]},{"id":"edb80d44.ace8f","type":"inject","z":"98df3b93.fc3fd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":809,"y":364,"wires":[["4adcc6c5.cae648"]]},{"id":"4adcc6c5.cae648","type":"change","z":"98df3b93.fc3fd8","name":"","rules":[{"t":"set","p":"videoSrc","pt":"msg","to":"http://iandevlin.github.io/mdn/video-player/video/tears-of-steel-battle-clip-medium.mp4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":999,"y":364,"wires":[["c5ee3e1f.88565"]]},{"id":"73eaf9a9.a8d818","type":"change","z":"98df3b93.fc3fd8","name":"","rules":[{"t":"set","p":"videoSrc","pt":"msg","to":"/roomdisplay_bg.mp4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":999,"y":444,"wires":[["c5ee3e1f.88565"]]},{"id":"29758621.5dd60a","type":"inject","z":"98df3b93.fc3fd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":809,"y":444,"wires":[["73eaf9a9.a8d818"]]},{"id":"f2d7d550.9e3758","type":"comment","z":"98df3b93.fc3fd8","name":"Trigger","info":"","x":797,"y":320,"wires":[],"icon":"node-red/parser-html.svg"},{"id":"b32a6be9.0dd538","type":"function","z":"436604b.1c168fc","name":"Set Topic","func":"if(msg.payload) {\n    msg.topic = \"maglock/on\";\n} else {\n    msg.topic = \"maglock/off\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["4bbd5ee0.ee72c","888a30e1.ea25a"]]},{"id":"4bbd5ee0.ee72c","type":"mqtt out","z":"436604b.1c168fc","name":"","topic":"","qos":"","retain":"","broker":"caa82cbf.e8bb5","x":550,"y":280,"wires":[]},{"id":"888a30e1.ea25a","type":"debug","z":"436604b.1c168fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":560,"y":340,"wires":[]},{"id":"305d6e84.e40282","type":"link out","z":"11f2569e.a6ea39","name":"door signal out","links":["1a36f0e7.a8ac2f"],"x":555,"y":560,"wires":[]},{"id":"1a36f0e7.a8ac2f","type":"link in","z":"436604b.1c168fc","name":"door signal in","links":["305d6e84.e40282"],"x":55,"y":280,"wires":[["cfc0075f.fc8078"]]},{"id":"cfc0075f.fc8078","type":"ui_switch","z":"436604b.1c168fc","name":"","label":"Magnetic lock","tooltip":"","group":"dfabe0cb.c1a29","order":0,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":280,"wires":[["b32a6be9.0dd538"]]}]